body {
    margin: 0;
    background-color: #424874;
    color: #DCD6F7;
    font-family: 'Lato', sans-serif;
}
.header {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 10px;
    font-size: large;
    color: #8EA7E9;
    height: 300px;
    width: 50%;
    margin: 100px auto;
}
.copyright {
    text-align: center;
    padding: 10px;
    font-size: large;
}
a {
    text-decoration: none;
    color: #FAD6A5;
}
a:hover{
    opacity: 50%;
}
.button {
    display: inline-block;
    padding: 10px;
    background-color: #645CBB;
    color: #FAD6A5;
    border-radius: 100px;
    font-size: large;
    font-weight: bold;
}
.button:hover{
    background-color: #7286D3;
}
hr {
    border: 4px solid #ADA2FF;
    border-radius: 5px;
}
.selfie {
    width: 100px;
    height: 100px;
    border-radius: 100px;
}
.archOne {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 20%;
    left: 10%;
    border-color: #8EA7E9;
    border-style: solid;
    border-width: 3px;
    border-radius: 50px;
}
.archTwo {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 20%;
    right: 10%;
    border-color: #8EA7E9;
    border-style: solid;
    border-width: 3px;
    border-radius: 50px;
}
.left-column {
    text-align: center;
    float: left;
    width: 50%;
}
.right-column {
    float: right;
    width: 50%;
}
.container {
    padding: 10px;
    font-size: medium;
    font-family: 'Roboto', sans-serif;
}
ul {
    display: table;
    margin: 0 auto;
    list-style-type:square;
}
.subway {
    width: 300px;
    height: 200px;
}
.skills {
    width: 300px;
    height: 200px;
}
.contact{
    background-color: #424874;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.card {
    height: fit-content;
    border-color: #8EA7E9;
    border-style: solid;
    border-width: 3px;
    padding: 10px;
    justify-content: center;
    flex-direction: row;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,1);
    width: 20%;
    margin-left: 40%;
    background-color: #645CBB;
    outline: 3px solid black;
    margin-top: 5%;
}
.submit {
    display: inline-block;
    padding: 10px;
    background-color: #645CBB;
    color: #FAD6A5;
    border-radius: 100px;
    font-size: large;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    border-color:#DCD6F7 
}
.submit:hover{
    background-color: #7286D3;
    cursor: pointer;
}
.coding{
    width: 300px;
    height: 200px;
}
